<div *ngIf="!login()" class="collapse navbar-collapse" id="navbarSupportedContent">
    <li><a class="dropdown-item" routerLink="/login">Giriş yap</a></li>
    <li><a class="dropdown-item" routerLink="/register">Üye ol</a></li>
</div>
<li *ngIf="login()" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{getCurrentUserDetails().firstName |titlecase}} {{getCurrentUserDetails().lastName| titlecase}}
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a
       class="dropdown-item">Profil</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" (click)="logout()">Çıkış yap</a></li>
  </ul>
</li>
