<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="/rentals">1. Aşama</a></li>
      <li class="breadcrumb-item " aria-current="page">2. Aşama</li>
    </ol>
  </nav>

  <body class="bg">
    
    <div class="container">
      <main>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Ödeme İşlemi</span>
          </h4>
        <div class="row g-5" >
          <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-primary">Kiralama Bilgileri</span>
            </h4>
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">Kiralama Tarihi</h6>
                  <small class="text-muted">{{rentDate}}</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">Teslim Tarihi</h6>
                  <small class="text-muted">{{returnDate}}</small>
                </div>
               
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Toplam Ücret (TL)</span>
                <strong>{{amount}}</strong>
              </li>
            </ul>
    
          </div>
          <div class="col-md-7 col-lg-8">
            <form class="needs-validation" novalidate>
                <form [formGroup]="paymentAddForm">
                    <div class="mb-3">
                      <label for="cardNumber"><b>Kart Numarası</b></label>
                      <div class="form-group">
                          <input type="text" 
                          id="cardNumber" 
                          formControlName="cardNumber" class="form-control" 
                          placeholder="Kart Numarası"/>
                      </div>
                  </div>
                      <div class="mb-3">
                          <label for="cvv"><b>Cvv</b></label>
                          <div class="form-group">
                              <input type="text" 
                              id="cvv" 
                              formControlName="cvv" class="form-control" 
                              placeholder="Cvv"
                              />
                          </div>
                      </div>

                    </form>
                    <hr class="my-4">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="w-100 btn btn-primary btn-lg" type="submit" (click)="add()">Onayla</button>
                    </div>
                  </form>
                </div>
              </div>
            </main>
          
          </div>

