<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div>
<table *ngIf="dataLoaded!=false" class="table">
    <thead>
        <tr>
            <th>Marka İsmi</th>
            <th>Rengi</th>
            <th>Açıklama</th>
            <th>Günlük Ücret</th>
        </tr>
    </thead>
    <tbody>
    <tr routerLink="/cars/car-detail/{{car.carId}}" *ngFor="let car of carsDetails">
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.description}}</td>
        <td>{{car.dailyPrice}} TL</td>
    </tr>
 </tbody>  
</table>
</div>
